# Build outputs
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse
boilerplate/*.o
boilerplate/*.ko
boilerplate/*.mod
boilerplate/*.mod.c
boilerplate/*.cmd
boilerplate/Module.symvers
boilerplate/modules.order

# Runtime artifacts
logs/
boilerplate/logs/
rootfs-base/
rootfs-*/
*.tar.gz
*.tar.gz.*
